[class*="col-"] {
			float: left;
				}
		/*amples*/
		.col-12{
			width: 100%;
		}
		.col-11{
			width: 91.66%;
		}
		.col-10{
			width: 83.33%;
		}
		.col-9{
			width: 75%;
		}
		.col-8{
			width: 66.66%;
		}
		.col-7{
			width: 58.33%;
		}
		.col-6{
			width: 50%;
		}
		.col-5{
			width: 41.66%;
		}
		.col-4{
			width: 33.33%;
		}
		.col-3{
			width: 25%;
		}
		.col-2{
			width: 16.6%;
		}
		.col-1{
			width: 8.33%
		}
		/*marge esquerra*/
		.push-12{
			width: 100%;
		}
		.push-11{
			margin-left: 91.66%;
		}
		.push-10{
			margin-left: 83.33%;
		}
		.push-9{
			margin-left:  75%;
		}
		.push-8{
			margin-left: 66.66%;
		}
		.push-7{
			margin-left: 58.33%;
		}
		.push-6{
			margin-left: 50%;
		}
		.push-5{
			margin-left: 41.66%;
		}
		.push-4{
			margin-left: 33.33%;
		}
		.push-3{
			margin-left: 25%;
		}
		.push-2{
			margin-left: 16.6%;
		}
		.push-1{
			margin-left: 8.33%
		}
		/*margue dreta*/
		.pull-12{
			width: 100%;
		}
		.pull-11{
			margin-right: 91.66%;
		}
		.pull-10{
			margin-right: 83.33%;
		}
		.pull-9{
			margin-right: 75%;
		}
		.pull-8{
			margin-right: 66.66%;
		}
		.pull-7{
			margin-right: 58.33%;
		}
		.pull-6{
			margin-right: 50%;
		}
		.pull-5{
			margin-right: 41.66%;
		}
		.pull-4{
			margin-right: 33.33%;
		}
		.pull-3{
			margin-right: 25%;
		}
		.pull-2{
			margin-right: 16.6%;
		}
		.pull-1{
			margin-right: 8.33%
		}
		.row::after , .row::before .row{
			clear: both;
			display: table;
			content: "" ;		}